.Home {
  background-color: #ffdcd9;
  color: #ffdcd9;
  text-align: center;
  background-size: cover;
  min-height: 100vh;
  overflow-x: hidden;
}
.Navbar {
  background-color: #ffb9b3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 1%;
}

.containerNewUsePage {
  background-color: #ffb9b3;
  width: 70%;
  height: 65%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  border: 1px solid #bfffb3;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.containerLight {
  background-color: #fff6f5;
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  height: 400px;
  align-items: center;
  justify-content: center;
}

.containerGenres {
  margin-top: 14.5%;
  background-color: white;
  width: 33%;
  height: 7%;
  align-items: center;
  align-content: center;
  color: #808080;
  font-size: smaller;
  padding-top: 1%;
  padding-bottom: -1%;
  box-shadow: none;
  border-radius: 4px;
  border: 1px solid #1c1c1c;
}

.new-userText {
  color: #1c1c1c;
  text-shadow: 0px 0px 2px white;
  padding-top: 0;
  text-decoration: underline;
  margin-top: -2%;
}

.Text {
  color: #1c1c1c;
  padding-bottom: 5%;
  margin: -1%;
}

.inputUser[type="text"] {
  width: 90%;
  max-width: 300px;
  padding: 8px;
  border: 1px solid #1c1c1c;
  border-radius: 4px;
  margin-bottom: 3%;
  align-self: center;
}

.buttonSave {
  background-color: #bfffb3;
  color: white;
  width: 20%;
  border-radius: 4px;
  border-color: white;
  cursor: pointer;
  font-size: 16px;
  align-items: center;
  margin-top: 10%;
  margin-left: 40%;
  padding: 3%;
}

.buttonHome {
  background-color: #bfffb3;
  color: white;
  padding: 1%;
  border-color: white;
  border-radius: 4px;
  margin-left: 1%;
}

.buttonBooks {
  background-color: #bfffb3;
  color: white;
  padding: 1%;
  border-color: white;
  border-radius: 4px;
  margin-left: 1%;
}

.buttonReturn {
  background-color: #bfffb3;
  color: white;
  padding: 1%;
  border-color: white;
  border-radius: 4px;
  margin-left: 1%;
}

.buttonUsers {
  background-color: #bfffb3;
  color: white;
  padding: 1%;
  border-color: white;
  border-radius: 4px;
  margin-left: 1%;
}
.checkbox {
  color: #1c1c1c;
  padding-bottom: 5%;
  margin: -1%;
  background-color: #bfffb3;
}
