.Home {
  background-color: #ffdcd9;
  color: #ffdcd9;
  text-align: center;
  background-size: cover;
  min-height: 100vh;
  overflow-x: hidden;
}
.Navbar {
  background-color: #ffb9b3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 1%;
}

.container {
  background-color: #ffb9b3;
  width: 70%;
  height: auto;
  margin: 0 auto;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  border: 1px solid #bfffb3;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerLight {
  background-color: #fff6f5;
  padding: 2%;
  border-radius: 10px;
  width: 50%;
  height: 90%;
  align-items: center;
  justify-content: center;
}

.containerGenres {
  background-color: white;
  width: 90%;
  max-width: 300px;
  height: auto;
  color: #808080;
  font-size: smaller;
  padding: 2%;
  align-items: flex-start;
  border-radius: 4px;
  border: 1px solid #1c1c1c;
  align-self: center;
}

.userText {
  color: #1c1c1c;
  text-shadow: 0px 0px 2px white;
  padding-top: 0;
  text-decoration: underline;
  margin-top: -3%;
}

.Text {
  color: #1c1c1c;
  padding-bottom: 2%;
  margin: -1%;
  margin-bottom: 10px;
}

.inputInfo[type="text"] {
  width: 90%;
  max-width: 300px;
  padding: 8px;
  border: 1px solid #1c1c1c;
  border-radius: 4px;
  margin-bottom: 3%;
  align-self: center;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 1%;
  margin-top: 1%;
}

.buttonSave {
  background-color: #bfffb3;
  color: white;
  width: 20%;
  border-radius: 4px;
  border-color: white;
  cursor: pointer;
  font-size: 16px;
  align-items: center;
  margin-top: 2%;
  margin-left: 40%;
  padding: 3%;
  display: block;
}

.buttonNav {
  background-color: #bfffb3;
  color: white;
  padding: 1%;
  border-color: white;
  border-radius: 4px;
  margin-left: 1%;
}
.textButton {
  color: white;
  border-radius: 1%;
  border-color: black;
  text-shadow: 0px 0px 2px black;
  font-weight: bold;
}

.checkbox {
  color: #1c1c1c;
  padding-bottom: 5%;
  margin: -1%;
  background-color: #bfffb3;
}
